body
{
    margin:0;
    font-family:Arial;
    background-color:rgba(208, 241, 241, 0.901) ; 
}
header 
{
    background-color:black;
    color:white;
    padding:5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
nav 
{
    display:flex;
    gap:20px;
}
nav a 
{
    color:white;
    text-decoration:none;
}
nav a:hover 
{
    color:yellow;
}
section 
{
    padding:20px;
    text-align:center;
    color:black;
}
.clubs 
{
    display:flex;
    justify-content:center;
    gap:20px;
}
.card 
{
    background-color:white;
    width:250px;
    padding:15px;
    margin:10px;
    border:1px solid #ccc;
    border-radius:5px;
}
.card img 
{
    width:100%;
    height:150px;
    object-fit:cover;
}
.card:hover
{
    box-shadow:0 0 10px gray;
}
button 
{
    padding:8px 15px;
    background-color:#f55151;
    color:white;
    border:none;
    border-radius:5px;
}
button:hover 
{
    background-color:#f2a9a9;
}
.gallery 
{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}
.gallery img 
{
    width:220px;
    height:150px;
    object-fit:cover;
    border:2px solid white;
    padding:5px;
}
.gallery img:hover 
{
    transform:scale(1.05);
}
footer 
{
    background-color:black;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}